# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
static/profile_pics/*
instance/league.db
config.py